
@import '~@angular/material/theming';

$primary-indigo: rgb(62, 82, 190);
$primary-deep-blue:rgb(34, 66, 114);
$system-grays-steel: rgb(144, 164, 174);
$system-grays-ice: rgb(247, 248, 249);
$system-grays-blue-grey: rgb(38, 50, 56, 1);